body{
    font-family: f;
    height: 10000px;
    position: relative;
}
:root{
    --extra-dark:#190119;
    --light-color:#E0B7B3;
    --med-color:#834E6A;
    --blue-color:#2A104D;
}
.navbar{
    background-color: var(--extra-dark);
color: #E0B7B3;
}
.navbar-toggler
{
    background-color: #E0B7B3;
}
.navbar-toggler:hover
{
    background-color: #834E6A;
}
   .nav-item
   {
    font-size: x-large;
    font-family:f;
   }
   .navbar-brand
   {
    font-size: x-large;

    color: #E0B7B3;
    font-family:f;
   }
   .navbar-brand:hover
   {
    color: #834E6A;
   }
   
   .navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color:var(--extra-dark);
  transform: translateY(-4px);
    box-shadow: 0 15px 35px rgba(78, 10, 204, 0.5);
    background: linear-gradient(15deg, #190119, #E0B7B3, #2A104D);
    border-radius: 40px;
  
}
.btn-primary:hover {
    color:#E0B7B3;
    background-color: green;
}
.btn-primary:focus
{
    background: linear-gradient(15deg, #190119, #2A104D, #E0B7B3);
}
.btn-primary {
    font-family:f ;
    font-size: large;
  color:var(--extra-dark);
    background: linear-gradient(15deg, #190119, #2A104D, #E0B7B3);
    border: #190119;
}
.btn-primary:hover {
    color:var(--extra-dark);
    transform: translateY(-4px);
    box-shadow: 0 15px 35px rgba(78, 10, 204, 0.5);
    background: linear-gradient(15deg, #190119, #E0B7B3, #2A104D);
}

.nav-link {/*home / tool about ...*/
    color: #E0B7B3;
}
.navbar .serch 
{
    border-left: 1px solid #E0B7B3;
}
.navbar .navbar-toggler {
    color: whitesmoke;
    font-size: 25px;
    border-color:#E0B7B3 ;
    border-radius: 15px;

}
.landing{
    position: relative;
    z-index: 5;
    color: var(--light-color);
    font-size: 3.5rem;
        font-weight: 700;
        line-height: 1.2;
        background-color: #190119;
       
        height: 500px;
      /*  text-shadow: 0 4px 30px rgba(0, 0, 0, 0.7); /* تحسين وضوح النص 
        background: linear-gradient(15deg, #190119, #2A104D, #E0B7B3);
        -webkit-background-clip: text; */
}
.particles{
    position: fixed;
    z-index: 0;
    background-color: var(--med-color);

}

.cta-button {
    margin-top: 2.5rem;
    padding: 1rem 2.8rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(15deg, #190119, #2A104D, #E0B7B3);
    border: none;
    border-radius: 50px;
    color: white;
    transition: 0.3s ease-in-out;
    box-shadow: 0 5px 15px rgba(107, 124, 255, 0.3);
  }

  .cta-button:hover {
    transform: translateY(-4px);
    box-shadow: 0 15px 35px rgba(78, 10, 204, 0.5);
    background: linear-gradient(15deg, #190119, #E0B7B3, #2A104D);
}


.clm{
    position: relative;
    z-index: 5;
   width:2000px;
   
}
.col
{
    border-radius: 50px;
    height: 300px;
    width: 50%;
    
   

}
.row {
    padding: 10px;

}

.button-85 {
    padding: 0.6em 2em;
    
    border-radius: 50px;
    outline: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
              box-sizing: border-box;
              height: 99%;
              margin: 0;
              padding: 1;
  }
  
  .button-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #834E6A,
      #190119,
      #E0B7B3,
      #2A104D,
      #c30adb,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }